<!-- app/views/flats/index.html.erb -->
<div class="container mt-4">
  <h1>All our Flats (<%= @flats.count %>)</h1>
  <div class="row">
    <% @flats.each do |flat| %>
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <div class="card-header bg-light">
            <strong><h5 class="card-title"><%= flat.name %></h5></strong>
            <p class="card-text"><%= flat.address %></p>
          </div>
          <div class="card-body bg-white">
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <%= link_to "More info", flat_path(flat), class: "btn btn-sm btn-outline-secondary" %>
                <%= link_to "Edit", edit_flat_path(flat), class: "btn btn-sm btn-secondary" %>
                 <%= link_to 'Delete', flat_path(flat),  data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %>
              </div>
              <small class="text-muted">
                <i class="fas fa-users"></i> <%= flat.number_of_guests %>
                &nbsp; <i class="fas fa-euro-sign"></i> <%= flat.price_per_night %>
              </small>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
    <div class="mb-3">
    <%= link_to 'Add New Flat', new_flat_path, class: 'btn btn-primary' %>
  </div>
</div>
